## Global Historical Climatology Network Dataset
Variables are stored in both rows and columns
This dataset represents the daily weather records for a weather station (MX17004) in Mexico for five months in 2010.

In [1]:
# importing libraries
import pandas as pd
import numpy as np

In [2]:
#missing_values = ["n/a", "na", "--"]
#df = pd.read_csv("../weather-raw.csv", na_values = missing_values)
ds = pd.read_csv('../weather-raw.csv')
ds.head(3)

,id,year,month,element,d1,d2,d3,d4,d5,d6,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
0,MX17004,2010,1,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.8,NaN
1,MX17004,2010,1,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.5,NaN
2,MX17004,2010,2,tmax,NaN,27.3,24.1,NaN,NaN,NaN,...,NaN,29.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
ds.shape # represents sample(row) and features(columns) of sample
# one month must be missing -> only 22 rows (september is missing)
# probably missing values for every other month because they only have 30 days
# coulums are (weather station, year, month, average, day 1 to day 31)

(22, 35)

In [4]:
#ds.describe()

In [5]:
ds = ds.rename(columns={"id": "WeatherStation", "element": "average",})

In [6]:
dsnull = ds.isnull().sum()
print(dsnull)

WeatherStation     0
year               0
month              0
average            0
d1                20
d2                18
d3                18
d4                20
d5                14
d6                20
d7                20
d8                20
d9                22
d10               20
d11               20
d12               22
d13               20
d14               18
d15               20
d16               20
d17               20
d18               22
d19               22
d20               22
d21               22
d22               22
d23               18
d24               22
d25               20
d26               20
d27               16
d28               20
d29               18
d30               20
d31               20
dtype: int64

In [7]:
zero_values = ds[ds == 0.0].count() #to check how many zeros in one row
# print(zero_values)
# every row has at least one value

In [8]:
#ds.replace(missing values, "-")
ds[list(ds.columns)].fillna("-")
print(ds)

   WeatherStation  year  month average    d1    d2    d3    d4    d5    d6  \
0         MX17004  2010      1    tmax   NaN   NaN   NaN   NaN   NaN   NaN
1         MX17004  2010      1    tmin   NaN   NaN   NaN   NaN   NaN   NaN
2         MX17004  2010      2    tmax   NaN  27.3  24.1   NaN   NaN   NaN
3         MX17004  2010      2    tmin   NaN  14.4  14.4   NaN   NaN   NaN
4         MX17004  2010      3    tmax   NaN   NaN   NaN   NaN  32.1   NaN
5         MX17004  2010      3    tmin   NaN   NaN   NaN   NaN  14.2   NaN
6         MX17004  2010      4    tmax   NaN   NaN   NaN   NaN   NaN   NaN
7         MX17004  2010      4    tmin   NaN   NaN   NaN   NaN   NaN   NaN
8         MX17004  2010      5    tmax   NaN   NaN   NaN   NaN   NaN   NaN
9         MX17004  2010      5    tmin   NaN   NaN   NaN   NaN   NaN   NaN
10        MX17004  2010      6    tmax   NaN   NaN   NaN   NaN   NaN   NaN
11        MX17004  2010      6    tmin   NaN   NaN   NaN   NaN   NaN   NaN
12        MX17004  2010      7    tmax   NaN   NaN  28.6   NaN   NaN   NaN
13        MX17004  2010      7    tmin   NaN   NaN  17.5   NaN   NaN   NaN
14        MX17004  2010      8    tmax   NaN   NaN   NaN   NaN  29.6   NaN
15        MX17004  2010      8    tmin   NaN   NaN   NaN   NaN  15.8   NaN
16        MX17004  2010     10    tmax   NaN   NaN   NaN   NaN  27.0   NaN
17        MX17004  2010     10    tmin   NaN   NaN   NaN   NaN  14.0   NaN
18        MX17004  2010     11    tmax   NaN  31.3   NaN  27.2  26.3   NaN
19        MX17004  2010     11    tmin   NaN  16.3   NaN  12.0   7.9   NaN
20        MX17004  2010     12    tmax  29.9   NaN   NaN   NaN   NaN  27.8
21        MX17004  2010     12    tmin  13.8   NaN   NaN   NaN   NaN  10.5

    ...  d22   d23  d24   d25   d26   d27   d28   d29   d30   d31
0   ...  NaN   NaN  NaN   NaN   NaN   NaN   NaN   NaN  27.8   NaN
1   ...  NaN   NaN  NaN   NaN   NaN   NaN   NaN   NaN  14.5   NaN
2   ...  NaN  29.9  NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
3   ...  NaN  10.7  NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
4   ...  NaN   NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
5   ...  NaN   NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
6   ...  NaN   NaN  NaN   NaN   NaN  36.3   NaN   NaN   NaN   NaN
7   ...  NaN   NaN  NaN   NaN   NaN  16.7   NaN   NaN   NaN   NaN
8   ...  NaN   NaN  NaN   NaN   NaN  33.2   NaN   NaN   NaN   NaN
9   ...  NaN   NaN  NaN   NaN   NaN  18.2   NaN   NaN   NaN   NaN
10  ...  NaN   NaN  NaN   NaN   NaN   NaN   NaN  30.1   NaN   NaN
11  ...  NaN   NaN  NaN   NaN   NaN   NaN   NaN  18.0   NaN   NaN
12  ...  NaN   NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
13  ...  NaN   NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
14  ...  NaN  26.4  NaN  29.7   NaN   NaN   NaN  28.0   NaN  25.4
15  ...  NaN  15.0  NaN  15.6   NaN   NaN   NaN  15.3   NaN  15.4
16  ...  NaN   NaN  NaN   NaN   NaN   NaN  31.2   NaN   NaN   NaN
17  ...  NaN   NaN  NaN   NaN   NaN   NaN  15.0   NaN   NaN   NaN
18  ...  NaN   NaN  NaN   NaN  28.1  27.7   NaN   NaN   NaN   NaN
19  ...  NaN   NaN  NaN   NaN  12.1  14.2   NaN   NaN   NaN   NaN
20  ...  NaN   NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
21  ...  NaN   NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

[22 rows x 35 columns]

In [10]:
ds

,WeatherStation,year,month,average,d1,d2,d3,d4,d5,d6,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
0,MX17004,2010,1,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.8,NaN
1,MX17004,2010,1,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.5,NaN
2,MX17004,2010,2,tmax,NaN,27.3,24.1,NaN,NaN,NaN,...,NaN,29.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MX17004,2010,2,tmin,NaN,14.4,14.4,NaN,NaN,NaN,...,NaN,10.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MX17004,2010,3,tmax,NaN,NaN,NaN,NaN,32.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,MX17004,2010,3,tmin,NaN,NaN,NaN,NaN,14.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,MX17004,2010,4,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,36.3,NaN,NaN,NaN,NaN
7,MX17004,2010,4,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,16.7,NaN,NaN,NaN,NaN
8,MX17004,2010,5,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,33.2,NaN,NaN,NaN,NaN
9,MX17004,2010,5,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,18.2,NaN,NaN,NaN,NaN
10,MX17004,2010,6,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.1,NaN,NaN
11,MX17004,2010,6,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0,NaN,NaN
12,MX17004,2010,7,tmax,NaN,NaN,28.6,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,MX17004,2010,7,tmin,NaN,NaN,17.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,MX17004,2010,8,tmax,NaN,NaN,NaN,NaN,29.6,NaN,...,NaN,26.4,NaN,29.7,NaN,NaN,NaN,28.0,NaN,25.4
15,MX17004,2010,8,tmin,NaN,NaN,NaN,NaN,15.8,NaN,...,NaN,15.0,NaN,15.6,NaN,NaN,NaN,15.3,NaN,15.4
16,MX17004,2010,10,tmax,NaN,NaN,NaN,NaN,27.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,31.2,NaN,NaN,NaN
17,MX17004,2010,10,tmin,NaN,NaN,NaN,NaN,14.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN
18,MX17004,2010,11,tmax,NaN,31.3,NaN,27.2,26.3,NaN,...,NaN,NaN,NaN,NaN,28.1,27.7,NaN,NaN,NaN,NaN
19,MX17004,2010,11,tmin,NaN,16.3,NaN,12.0,7.9,NaN,...,NaN,NaN,NaN,NaN,12.1,14.2,NaN,NaN,NaN,NaN
20,MX17004,2010,12,tmax,29.9,NaN,NaN,NaN,NaN,27.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,MX17004,2010,12,tmin,13.8,NaN,NaN,NaN,NaN,10.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
# goal = column tmx and tmin
# can use pd.melt or weather.melt
weather_melt = pd.melt(
    ds,
    id_vars = ['WeatherStation', 'year', 'month', 'average'],
    var_name = 'day',
    value_name = 'temp'
)

In [12]:
weather_melt

    WeatherStation  year  month average  day  temp
0          MX17004  2010      1    tmax   d1   NaN
1          MX17004  2010      1    tmin   d1   NaN
2          MX17004  2010      2    tmax   d1   NaN
3          MX17004  2010      2    tmin   d1   NaN
4          MX17004  2010      3    tmax   d1   NaN
..             ...   ...    ...     ...  ...   ...
677        MX17004  2010     10    tmin  d31   NaN
678        MX17004  2010     11    tmax  d31   NaN
679        MX17004  2010     11    tmin  d31   NaN
680        MX17004  2010     12    tmax  d31   NaN
681        MX17004  2010     12    tmin  d31   NaN

[682 rows x 6 columns]

In [13]:
weather_tidy = weather_melt.pivot_table(
    index = ['WeatherStation', 'year', 'month', 'average'],
    columns='average', 
    values='temp',
    dropna=True    # does not work
)

In [17]:
weather_tidy1 = weather_tidy[list(weather_tidy.columns)].fillna("-")
weather_tidy1

average                               tmax     tmin
WeatherStation year month average
MX17004        2010 1     tmax        27.8        -
                          tmin           -     14.5
                    2     tmax       27.75        -
                          tmin           -   13.225
                    3     tmax     32.5667        -
                          tmin           -     16.2
                    4     tmax        36.3        -
                          tmin           -     16.7
                    5     tmax        33.2        -
                          tmin           -     18.2
                    6     tmax       29.05        -
                          tmin           -    17.75
                    7     tmax       29.25        -
                          tmin           -       17
                    8     tmax     28.2714        -
                          tmin           -  15.8429
                    10    tmax        28.9        -
                          tmin           -    13.08
                    11    tmax       28.12        -
                          tmin           -     12.5
                    12    tmax       28.85        -
                          tmin           -    12.15

In [19]:
weather_tidy1[list(weather_tidy.columns)].fillna("-").reset_index()

average WeatherStation  year  month average     tmax     tmin
0              MX17004  2010      1    tmax     27.8        -
1              MX17004  2010      1    tmin        -     14.5
2              MX17004  2010      2    tmax    27.75        -
3              MX17004  2010      2    tmin        -   13.225
4              MX17004  2010      3    tmax  32.5667        -
5              MX17004  2010      3    tmin        -     16.2
6              MX17004  2010      4    tmax     36.3        -
7              MX17004  2010      4    tmin        -     16.7
8              MX17004  2010      5    tmax     33.2        -
9              MX17004  2010      5    tmin        -     18.2
10             MX17004  2010      6    tmax    29.05        -
11             MX17004  2010      6    tmin        -    17.75
12             MX17004  2010      7    tmax    29.25        -
13             MX17004  2010      7    tmin        -       17
14             MX17004  2010      8    tmax  28.2714        -
15             MX17004  2010      8    tmin        -  15.8429
16             MX17004  2010     10    tmax     28.9        -
17             MX17004  2010     10    tmin        -    13.08
18             MX17004  2010     11    tmax    28.12        -
19             MX17004  2010     11    tmin        -     12.5
20             MX17004  2010     12    tmax    28.85        -
21             MX17004  2010     12    tmin        -    12.15