## Global Historical Climatology Network Dataset
Variables are stored in both rows and columns
This dataset represents the daily weather records for a weather station (MX17004) in Mexico for five months in 2010.

In [1]:
# importing libraries
import pandas as pd
import numpy as np

In [2]:
#missing_values = ["n/a", "na", "--"]
#df = pd.read_csv("../weather-raw.csv", na_values = missing_values)
ds = pd.read_csv('../weather-raw.csv')
ds.head(3)

,id,year,month,element,d1,d2,d3,d4,d5,d6,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
0,MX17004,2010,1,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.8,NaN
1,MX17004,2010,1,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.5,NaN
2,MX17004,2010,2,tmax,NaN,27.3,24.1,NaN,NaN,NaN,...,NaN,29.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
ds.shape # represents sample(row) and features(columns) of sample
# one month must be missing -> only 22 rows (september is missing)
# probably missing values for every other month because they only have 30 days
# coulums are (weather station, year, month, average, day 1 to day 31)

(22, 35)

In [4]:
#ds.describe()

In [5]:
ds = ds.rename(columns={"id": "WeatherStation", "element": "average",})

In [6]:
dsnull = ds.isnull().sum()
print(dsnull)

WeatherStation     0
year               0
month              0
average            0
d1                20
d2                18
d3                18
d4                20
d5                14
d6                20
d7                20
d8                20
d9                22
d10               20
d11               20
d12               22
d13               20
d14               18
d15               20
d16               20
d17               20
d18               22
d19               22
d20               22
d21               22
d22               22
d23               18
d24               22
d25               20
d26               20
d27               16
d28               20
d29               18
d30               20
d31               20
dtype: int64

In [7]:
zero_values = ds[ds == 0.0].count() #to check how many zeros in one row
# print(zero_values)
# every row has at least one value

In [8]:
#ds.replace(missing values, "-")
ds = ds[list(ds.columns)].fillna("-")
print(ds)

   WeatherStation  year  month average    d1    d2    d3    d4    d5    d6  \
0         MX17004  2010      1    tmax     -     -     -     -     -     -
1         MX17004  2010      1    tmin     -     -     -     -     -     -
2         MX17004  2010      2    tmax     -  27.3  24.1     -     -     -
3         MX17004  2010      2    tmin     -  14.4  14.4     -     -     -
4         MX17004  2010      3    tmax     -     -     -     -  32.1     -
5         MX17004  2010      3    tmin     -     -     -     -  14.2     -
6         MX17004  2010      4    tmax     -     -     -     -     -     -
7         MX17004  2010      4    tmin     -     -     -     -     -     -
8         MX17004  2010      5    tmax     -     -     -     -     -     -
9         MX17004  2010      5    tmin     -     -     -     -     -     -
10        MX17004  2010      6    tmax     -     -     -     -     -     -
11        MX17004  2010      6    tmin     -     -     -     -     -     -
12        MX17004  2010      7    tmax     -     -  28.6     -     -     -
13        MX17004  2010      7    tmin     -     -  17.5     -     -     -
14        MX17004  2010      8    tmax     -     -     -     -  29.6     -
15        MX17004  2010      8    tmin     -     -     -     -  15.8     -
16        MX17004  2010     10    tmax     -     -     -     -    27     -
17        MX17004  2010     10    tmin     -     -     -     -    14     -
18        MX17004  2010     11    tmax     -  31.3     -  27.2  26.3     -
19        MX17004  2010     11    tmin     -  16.3     -    12   7.9     -
20        MX17004  2010     12    tmax  29.9     -     -     -     -  27.8
21        MX17004  2010     12    tmin  13.8     -     -     -     -  10.5

    ... d22   d23 d24   d25   d26   d27   d28   d29   d30   d31
0   ...   -     -   -     -     -     -     -     -  27.8     -
1   ...   -     -   -     -     -     -     -     -  14.5     -
2   ...   -  29.9   -     -     -     -     -     -     -     -
3   ...   -  10.7   -     -     -     -     -     -     -     -
4   ...   -     -   -     -     -     -     -     -     -     -
5   ...   -     -   -     -     -     -     -     -     -     -
6   ...   -     -   -     -     -  36.3     -     -     -     -
7   ...   -     -   -     -     -  16.7     -     -     -     -
8   ...   -     -   -     -     -  33.2     -     -     -     -
9   ...   -     -   -     -     -  18.2     -     -     -     -
10  ...   -     -   -     -     -     -     -  30.1     -     -
11  ...   -     -   -     -     -     -     -    18     -     -
12  ...   -     -   -     -     -     -     -     -     -     -
13  ...   -     -   -     -     -     -     -     -     -     -
14  ...   -  26.4   -  29.7     -     -     -    28     -  25.4
15  ...   -    15   -  15.6     -     -     -  15.3     -  15.4
16  ...   -     -   -     -     -     -  31.2     -     -     -
17  ...   -     -   -     -     -     -    15     -     -     -
18  ...   -     -   -     -  28.1  27.7     -     -     -     -
19  ...   -     -   -     -  12.1  14.2     -     -     -     -
20  ...   -     -   -     -     -     -     -     -     -     -
21  ...   -     -   -     -     -     -     -     -     -     -

[22 rows x 35 columns]

In [14]:
#ds.replace(int(1), "January").replace(2, "February").replace(3, "March").replace(4, "April").replace(5, "May").replace(6, "June").replace(7, "July").replace(8, "August").replace(10, "October").replace(11, "November").replace(12, "December")
#ds.rename(index[3]={0:'zero',1:'one'}, inplace=True)

In [10]:
# calculate max Value
ds.max(axis=0)

WeatherStation    MX17004
year                 2010
month                  12
average              tmin
d9                      -
d12                     -
d18                     -
d19                     -
d20                     -
d21                     -
d22                     -
d24                     -
dtype: object

In [11]:
ds.at[0,"average"] # access cell value

'tmax'

In [12]:
# ds.at[0,"average"] =  27.8       overwrite cell value